.login__item {
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    border: none;
    border-bottom: 2px solid #cccccc;
    outline: none;
    background-color: inherit;
    color: white;
    margin-top: 30px;
}