.button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: opacity 1s ease-in-out;
    margin: 0;
}


.button:hover {
    opacity: 0.6;
    cursor: pointer;
  }