.button_type_submit {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50px;
  font-family: inherit;
  max-width: 358px;
  background-color: black;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 36px;
  margin-top: 30px;
  border: none;
}